#rankings-layout {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


#rankings-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#rankings {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#rankings-card a {
    width:350px;
    margin-bottom: 50px;
}

#rankings-card h1 {
    font-size: 30px;
}