#login-card {
    background-color: #D7B877;
    /* width: 780px; */
    border-radius: 12px;
    margin: 20px;
    border: 0px;
    padding: 0px 10px ;
}

#login-layout{
    display: flex;
    justify-content: center;
}

#login-card h1 {
    border-radius: 8px 8px 0px 0px;
}