.navbar {
  padding: 0px;
  margin-bottom: 30px;
}

.blue-button {
  height: 30px;
  width: 158px;
  background-color: #62938F;
  border-radius: 8px;
  font-size: 14px;
  color: white;
  border: 0;
  margin: 2px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.blue-button:hover {
  background-color: #446663;
}

.login-buttons {
  min-width: 400px;
  display: flex;
  align-items: right;
}

.log-buttons {
  height: 30px;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.col-4 {
  padding: 0px;
}

.container-fluid {
  width: 100%;
  background-image: url('../../public/Images/Banner_Bg_02.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.page-buttons {
  min-width: 648px;
  display: flex;
  align-items: flex-end;
}

.login-buttons {
  max-width: 210px;
  justify-content: right;
}

.image-container {
  min-width: fit-content;
}