.recipe-card {
    background-color: #D7B877;
    width: 780px;
    height: 428px;
    margin: 20px;
    border: 0px;
}

button {
    height: 30px;
    width: 158px;
    background-color: #62938F;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    border: 0;
    margin: 2px;
    cursor: pointer;
    transition-duration: 0.3s;
}