#saved-layout{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#saved-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#saved-data {
    width: 350px;
    margin-bottom: 50px;
}

#saved-card h1 {
    border-radius: 8px 8px 0px 0px;
    font-size: 30px;
}

#saved-card img {
    border-radius: 0px 0px 8px 8px;
}

#saved-link {
    transition: transform .2s;
}

#saved-link:hover {
    transform: scale(.975);
}