#recipe-card-data {
    background-color: #D7B877;
    color: #332F2E;
    border: 0px;
    border-radius: 12px;
    padding-bottom: 18px;
    margin: 10px;
}

h1 {
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #332F2E;
}

h4 {
    text-align: center;
}

#drink-image {
    width: 300px;
}

#drink-image-container {
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 768px) {

    #recipe-card-data {
        width: auto;
        background-color: #D7B877;
        color: #332F2E;
        border: 0px;
        border-radius: 0px;
        padding-bottom: 20px;
        margin: 10px;
    }

}