body {
    background-color: #332F2E;
}

.logo {
    margin-top: 9px;
    margin-left: 25px;
}

/* .image-container {
    height: 250px;
} */

#root {
    color: #D7B877;
} 

.search-button {
    height: 30px;
    width: 60px;
    background-color: #62938F;
    border-radius: 0px;
    font-size: 14px;
    color: white;
    border: 0;
    margin: 2px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.unsave-button {
    display: flex;
    justify-content: center;
}

h5 {
    color: #FFFFFF;
    margin-top: 3px;
}

#search-name-form {
    margin-top: 50px;
    text-align: center;
}

#search-city-form {
    margin-top: 20px;
    text-align: center;
}

#search-ingredient-form {
    text-align: center;
}

.search-title {
    margin-right: 10px;
}

#weather-message {
    margin-top: 20px;
}

#main-greeting {
    margin-top: 70px;
}

.form-input {
    height: 30px;
    width: 232px;
}

.dark-text {
    color: #332F2E;
}

#login-link {
    color: #FFFFFF;
}

h1 {
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}