body {
    background-color: #332F2E;
}

.logo {
    margin-top: 10px;
    margin-left: 25px;
}

.image-container {
    height: 300px;
    background-image: url('../images/Banner_Bg.png');
    background-repeat: no-repeat;
    background-position: top right;
}